<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName" default-lazy-init="true">

    <bean id="bizSQLs" class="com.globalwave.common.db.BaseSQLs" >
      <property name="sqls">
        <map>
          <entry key="lastTargetPort">
            <value>
              <![CDATA[
select distinct(port_target) as port from biz_order where company_id=[company_id] order by created_on desc limit 5
              ]]>
            </value>
          </entry>   
          
          
          
        </map>
      </property>
    </bean>
      
</beans>