<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName" default-lazy-init="true">

    <bean id="bizSQLs" class="com.globalwave.common.db.BaseSQLs" >
      <property name="sqls">
        <map>
          <entry key="orders">
            <value>
              <![CDATA[
select o.id,o.time_place,o.total,o.pay_system_name,o.status from biz_order_sale o where 1=1   
   {and o.user_id=[user_id]} 
   {and o.status=[status]} 
   {and o.status in ([inStatus])} 
   {and o.status not in ([notInStatus])} 
<<orderby>>
              ]]>
            </value>
          </entry>
          
          <entry key="promotions">
            <value>
              <![CDATA[
select p.* from biz_promotion p where p.status=1   
   {and (
   (p.begin_date is null and p.end_date is null) or 
   (p.begin_date is not null and p.end_date is null and p.begin_date <= [checkTime]) or 
   (p.begin_date is null and p.end_date is not null and p.end_date >= [checkTime]) or 
   (p.begin_date is not null and p.end_date is not null and p.begin_date <= [checkTime] and p.end_date >= [checkTime])
   )} 
order by weight desc
              ]]>
            </value>
          </entry>
          
          
          <entry key="queryProductColors">
            <value>
              <![CDATA[
select distinct(color_)
  from biz_product 
 where record_status<>'C' 
   and color_ is not null 
   and color_ <> '' 
   and pro_product_id=[pro_product_id]
              ]]>
            </value>
          </entry>
          
          <entry key="queryProductSizes">
            <value>
              <![CDATA[
select distinct(size_)
  from biz_product 
 where record_status<>'C' 
   and size_ is not null 
   and size_ <> '' 
   and pro_product_id=[pro_product_id] 
  {and color_=[color_]}
              ]]>
            </value>
          </entry>
          
          
          <entry key="removeProductColors">
            <value>
              <![CDATA[
update biz_product set record_status='C'
 where pro_product_id=[pro_product_id] and color_=[color_]
              ]]>
            </value>
          </entry>
          
          
          <entry key="removeProductSizes">
            <value>
              <![CDATA[
update biz_product set record_status='C'
 where pro_product_id=[pro_product_id] and color_=[color_] and size_=[size_]
              ]]>
            </value>
          </entry>
          
          
          <entry key="resetCoverFlag">
            <value>
              <![CDATA[
update biz_product_photo 
   set document_type='p' 
 where document_type='m' 
   and id<>[id] 
   and product_id=[product_id]
  {and desc_=[desc_]}
              ]]>
            </value>
          </entry>
          
          
          
          
        </map>
      </property>
    </bean>
      
</beans>