<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans default-autowire="byName" default-lazy-init="true">

    <bean id="bizSQLs" class="com.globalwave.common.db.BaseSQLs" >
      <property name="sqls">
        <map>
          <entry key="orders">
            <value>
              <![CDATA[
select o.id,o.time_place,o.total,o.pay_system_name,o.status from biz_order_sale o where 1=1   
   {and o.user_id=[user_id]} 
   {and o.status=[status]} 
   {and o.status in ([inStatus])} 
   {and o.status not in ([notInStatus])} 
<<orderby>>
              ]]>
            </value>
          </entry>
          
          
          
        </map>
      </property>
    </bean>
      
</beans>